doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        title Under Construction
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
        meta(name="description", content="Intial page for a New Website")
        meta(name="author", content="Luminous Hilt")
        link(rel="stylesheet", href="Assets/css/main.css")
        link(rel="icon", type="image/png", href="Assets/img/favicon.ico")
    body.under-construction
        include Assets/includes/banner

        #wrapper
            .img-wrapper

        .section
            #content
            .title-logo
                .logo
                    img(src="Assets/img/luminous_logo.svg" alt="Luminous Hilt Logo")

                h1 Under Construction

            .container
                p Welcome!  You have found <span class="site-name">newwebsite.com</span>.  It's currently under construction at the moment.  Please remember to visit us again soon.

        include Assets/includes/footer
        include Assets/includes/backtotop

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
        script(src="Assets/js/scripts.js")